<style>
    @media print {
        #slide-out {
            display: none;
        }

        body {
            padding-left: 0 ! important;
        }
    }
</style>

<!-- Palette background color-->
{% if site.sidenav.palette.background %}
{% assign sidenav_background_color = site.sidenav.palette.background %}
{% else %}
{% assign sidenav_background_color = 'blue' %}
{% endif %}

<!-- Workout distinct sidenav sections -->
{% assign sections = '' | split: '' %}
{% for page in site.pages %}
{% for section in page.sections %}
{% assign sections = sections | push: section %}
{% endfor %}
{% endfor %}
{% assign sections = sections | uniq | sort %}

<!-- Workout sidenav sections headings-->
{% assign sectionsHeadings = '' | split: '' %}
{% for section in sections %}
{% assign sectionsHeadings = sectionsHeadings | push: site.sections[section] %}
{% endfor %}

<!-- Iterate through headings -->
{% assign numberOfHeadings = sectionsHeadings | size | minus: 1 %}


<!-- Main navigation -->
<ul id="slide-out" class="nav sidenav sidenav-fixed {{site.palette.primary}} darken-4">
    {% if site.profile %}
    <li>
        <a href="/" style="display: inline-block; width: 100%; text-align: center; height: 100%" href="/">
            <img class="circle" style="display: inline-block; padding: 0.5rem 0; max-width: 8rem"
                src="{{site.profile}}">
        </a>
    </li>
    {% endif %}

    <li style="text-align: center">
        <h1 style="font-size: 2rem; margin: 0 0 1rem 0" class="{{site.palette.secondary}}-text text-lighten-2">
            {{site.title}}</h1>
        <h3 style="font-size: 1.2rem; margin: 0" class="{{site.palette.secondary}}-text text-lighten-1">{{site.author}}
        </h3>
        <a href="mailto:{{site.email}}" class="{{site.palette.secondary}}-text text-darken">{{site.email}}</a>
    </li>

    <li>
        <div style="position: relative">
            <input placeholder="Browse projects" class="{{site.palette.accent}}-text text-lighten-2"
                style="line-height: 1rem; padding: 0 2rem">
            <i class="fa fa-search {{site.palette.accent}}-text text-lighten-2"
                style="position: absolute; right: 1rem; top: 1.2rem"></i>
        </div>
    </li>

    <li id="sections" class="no-padding">
        <ul class="collapsible collapsible-accordion">
            {% include sidenav-items.html items=site.sidenav.items %}
        </ul>
    </li>
</ul>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // initialize sidenav behaviour
        const sidenavOptions = {};
        const sidenav = document.querySelector('.sidenav');
        M.Sidenav.init(sidenav, sidenavOptions);

        // initialize collapsible behaviour
        const collapsibleOptions = {};
        const collapsibles = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapsibles, collapsibleOptions);
    });
</script>